@import '../../-common-/assets/style/settings/module-settings';

.button {
  font-family: cursive;
  @include fontSizeRem(14, 20);
  color: $white;
  background-color: $blue;
  padding: .8rem;
  border-radius: 15px;
  @include breakpoint(desktop) {
    padding: 1.2rem;
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
